Package: com.codeymoore.ijackoff-hq
Name: iJackOff-HQ
Version: 1.2-1
Architecture: iphoneos-arm
Description: Ya'll need this ;)
Depiction: https://codeymoore.github.io/depictions/?p=com.codeymoore.ijackoff
Maintainer: Codey Moore
Author: Codey Moore
Section: Entertainment
